# Run Travis CI for R using https://eddelbuettel.github.io/r-travis/

language: c
sudo: required
dist: trusty

before_install:
  - curl -OLs https://eddelbuettel.github.io/r-travis/run.sh && chmod 0755 run.sh
  - ./run.sh bootstrap

install:
  - ./run.sh install_aptget r-cran-knitr r-cran-rmarkdown
  - ./run.sh install_r fastdigest
script:
  - ./run.sh run_tests

after_failure:
  - ./run.sh dump_logs
 
after_success:
  - ./run.sh coverage

notifications:
  email:
    on_success: change
    on_failure: change

    