## package has a dynamic library
useDynLib(digest, digest_impl=digest, AESinit, AESencryptECB, AESdecryptECB)

## and exported functions
export(AES,
       digest,
       sha1,
       sha1_digits,
       num2hex,
       hmac)

S3method(print, AES)
S3method(sha1, default)
S3method(sha1, numeric)
S3method(sha1, anova)
S3method(sha1, list)
S3method(sha1, matrix)
S3method(sha1, data.frame)

importFrom(methods,setGeneric)
importFrom(methods,setMethod)
